<h1 align='center' style=color:Red;text-weight:800>
1. Extracción Transformación y Carga (ETL)
</h1>

## _1.1 Extracción_

In [33]:
# Carga de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

_Carga el de los archivos a utilizar en el análisis_

In [34]:
df_homicidios = pd.read_excel('./datasets/homicidios.xlsx',sheet_name = 'HECHOS')
df_vic_hom    = pd.read_excel('./datasets/homicidios.xlsx',sheet_name = 'VICTIMAS')
df_lesiones   = pd.read_excel('./datasets/lesiones.xlsx' , sheet_name = 'HECHOS')
df_vic_les    = pd.read_excel('./datasets/lesiones.xlsx' , sheet_name = 'VICTIMAS')

## _1.2 Transformación_

### _1.2.1 Homicidios_Hechos_

In [35]:
display(df_homicidios.sample(3))

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
640,2021-0042,1,2021-05-21,2021,5,21,05:00:00,5,RIVADAVIA AV. 10900,AVENIDA,...,10900.0,NaN,RIVADAVIA AV. 10900,9,Point (95040.52119933 98883.98738744),-58.51739138,-34.63931792,PEATON-PASAJEROS,PEATON,PASAJEROS
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,...,NaN,NaN,AUTOPISTA 25 DE MAYO,0,Point (. .),.,.,SD-SD,SD,SD
411,2018-0137,1,2018-12-18,2018,12,18,20:15:00,20,Adolfo Alsina y Santiago del Estero,CALLE,...,NaN,SANTIAGO DEL ESTERO,"ALSINA, ADOLFO y SANTIAGO DEL ESTERO",1,Point (107198.03031731 102023.53206745),-58.38481975,-34.61100424,MOTO-PASAJEROS,MOTO,PASAJEROS

_Removemos las columnas que no vamos a utilizar_

In [36]:
df_homicidios.drop(columns=['AAAA', 'MM', 'DD', 'HORA', 'LUGAR_DEL_HECHO', 'Calle', 
                            'Altura', 'Cruce', 'Dirección Normalizada', 'PARTICIPANTES'], inplace=True)

In [37]:
print(df_homicidios.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             696 non-null    object
 1   N_VICTIMAS     696 non-null    int64
 2   FECHA          696 non-null    datetime64[ns]
 3   HH             696 non-null    object
 4   TIPO_DE_CALLE  696 non-null    object
 5   COMUNA         696 non-null    int64
 6   XY (CABA)      696 non-null    object
 7   pos x          696 non-null    object
 8   pos y          696 non-null    object
 9   VICTIMA        696 non-null    object
 10  ACUSADO        696 non-null    object
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 59.9+ KB
None

_Transformaciones de datos_

In [38]:
# remplazamos por null los valores 'SD' que no son un valor numérico
df_homicidios.loc[df_homicidios['HH'] == 'SD', 'HH'] = np.nan

# remplazar los "." por nulos en latitud y longitud
df_homicidios.loc[df_homicidios['pos x'] == '.' ,'pos x'] = np.nan
df_homicidios.loc[df_homicidios['pos y'] == '.' ,'pos y'] = np.nan
df_homicidios.loc[df_homicidios['XY (CABA)'] == 'Point (. .)' ,'XY (CABA)'] = np.nan

In [39]:
# cambio a formato categórico
df_homicidios['HH'] = df_homicidios['HH'].astype('category')
df_homicidios['TIPO_DE_CALLE'] = df_homicidios['TIPO_DE_CALLE'].astype('category')
df_homicidios['COMUNA'] = df_homicidios['COMUNA'].astype('category')
df_homicidios['VICTIMA'] = df_homicidios['VICTIMA'].astype('category')
df_homicidios['ACUSADO'] = df_homicidios['ACUSADO'].astype('category')

df_homicidios['pos x'] = df_homicidios['pos x'].astype('float')
df_homicidios['pos y'] = df_homicidios['pos y'].astype('float')

df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             696 non-null    object
 1   N_VICTIMAS     696 non-null    int64
 2   FECHA          696 non-null    datetime64[ns]
 3   HH             695 non-null    category
 4   TIPO_DE_CALLE  696 non-null    category
 5   COMUNA         696 non-null    category
 6   XY (CABA)      682 non-null    object
 7   pos x          684 non-null    float64
 8   pos y          684 non-null    float64
 9   VICTIMA        696 non-null    category
 10  ACUSADO        696 non-null    category
dtypes: category(5), datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 38.5+ KB

In [40]:
# # borrando los registros nulos que son 15 que representa el 2.1% de los datos
# df_homicidios.isnull().sum()
# df_homicidios.dropna(inplace=True)

_Guardamos el DF listo para su análisis_

In [41]:
# Guardamos el DF listo para su análisis
df_homicidios.to_csv('./datasets/df_homicidios.csv',index=False)

### _1.2.2 Homicidios_Victimas_

In [42]:
display(df_vic_hom.sample(3))

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
29,2016-0041,2016-03-29,2016,3,29,CONDUCTOR,MOTO,MASCULINO,54,2016-03-29 00:00:00
179,2017-0038,2017-04-01,2017,4,1,CONDUCTOR,MOTO,FEMENINO,40,2017-04-01 00:00:00
183,2017-0045,2017-04-14,2017,4,14,CONDUCTOR,MOTO,MASCULINO,21,2017-04-14 00:00:00

In [43]:
print(df_vic_hom.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB
None

_Removemos las columnas que no vamos a utilizar_

In [44]:
df_vic_hom.drop(columns=['AAAA', 'MM', 'DD', 'FECHA_FALLECIMIENTO'], inplace=True)

_Transformaciones de datos_

In [45]:
# función que regresa 1 si la edad es menor a 18, 2 si la edad esta entre 18 y 29
# 3 si la edad esta entre 30 y 39, 4 si la edad esta entre 40 a 49 , 5 si la edad es de 50 a 59
# y 6 si la edad es igual o mayor a 60 
def rango_etario(edad):
    if edad < 18:
        return "1_ 0 a 17 años"
    elif 18 <= edad <= 29:
        return "2_ 18 a 29 años"
    elif 30 <= edad <= 39:
        return "3_ 30 a 39 años"
    elif 40 <= edad <= 49:
        return "4_ 45 a 49 años"
    elif 50 <= edad <= 59:
        return "5_ 50 a 59 años"
    elif edad >= 60:
        return "6_ 60 años o mas"
    else:
        return np.nan

In [46]:
# Cambio de SD por nulos para ser mas visibles
df_vic_hom.loc[df_vic_hom['ROL'] == 'SD', 'ROL'] = np.nan
df_vic_hom.loc[df_vic_hom['VICTIMA'] == 'SD', 'VICTIMA'] = np.nan
df_vic_hom.loc[df_vic_hom['SEXO'] == 'SD', 'SEXO'] = np.nan

# Rango Etario
df_vic_hom.loc[df_vic_hom['EDAD'] == 'SD', 'EDAD'] = np.nan
df_vic_hom.loc[df_vic_hom['EDAD'] == 'sd', 'EDAD'] = np.nan
df_vic_hom['EDAD'] = df_vic_hom['EDAD'].astype('float')
df_vic_hom['Rango_etario'] = df_vic_hom['EDAD'].apply(lambda x: rango_etario(x))

In [47]:
df_vic_hom['Rango_etario'] = df_vic_hom['EDAD'].apply(lambda x: rango_etario(x))
df_vic_hom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_hecho      717 non-null    object
 1   FECHA         717 non-null    datetime64[ns]
 2   ROL           706 non-null    object
 3   VICTIMA       708 non-null    object
 4   SEXO          711 non-null    object
 5   EDAD          664 non-null    float64
 6   Rango_etario  664 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 39.3+ KB

In [48]:
# cambio a formato categórico
df_vic_hom['ID_hecho'] = df_vic_hom['ID_hecho'].astype('category')
df_vic_hom['ROL'] = df_vic_hom['ROL'].astype('category')
df_vic_hom['VICTIMA'] = df_vic_hom['VICTIMA'].astype('category')
df_vic_hom['SEXO'] = df_vic_hom['SEXO'].astype('category')
df_vic_hom['Rango_etario'] = df_vic_hom['Rango_etario'].astype('category')


df_vic_hom.drop(columns='EDAD',inplace=True)

df_vic_hom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_hecho      717 non-null    category
 1   FECHA         717 non-null    datetime64[ns]
 2   ROL           706 non-null    category
 3   VICTIMA       708 non-null    category
 4   SEXO          711 non-null    category
 5   Rango_etario  664 non-null    category
dtypes: category(5), datetime64[ns](1)
memory usage: 32.4 KB

In [49]:
# Guardamos el DF listo para su análisis
df_vic_hom.to_csv('./datasets/df_vic_hom.csv',index=False)

### _1.2.3 Lesiones_Hechos_

In [50]:
display(df_lesiones.sample(3))

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
4038,LC-2019-0308997,1,2019,5,17,2019-05-17 00:00:00,12:57:00,12,SD,4,...,-34.651413,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
2831,LC-2019-0225650,1,2019,4,10,2019-04-10 00:00:00,22:50:00,22,SD,2,...,-34.591059,SD,SD,SD-SD,x,SD,x,SD,SD,SD
20391,LC-2021-0449524,1,2021,8,2,2021-08-02 00:00:00,20:00:00,20,SD,SD,...,SD,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD

In [51]:
print(df_lesiones.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB
None

_Removemos las columnas que no vamos a utilizar_

In [52]:
df_lesiones.drop(columns=['aaaa', 'mm', 'dd','hora','direccion_normalizada',
                          'calle','altura','cruce','participantes','moto',
                          'auto','transporte_publico','camion','otra_direccion',
                          'ciclista'], inplace=True)

_Transformaciones_

In [53]:
df_lesiones['fecha'].replace("'","", inplace=True)
df_lesiones['fecha'] = df_lesiones['fecha'].astype('datetime64[ns]')

In [54]:
df_lesiones.isnull().sum()

id                        0
n_victimas                0
fecha                     0
franja_hora               5
comuna                  169
tipo_calle                0
geocodificacion_CABA     39
longitud                262
latutid                 262
victima                   0
acusado                   0
gravedad                  0
dtype: int64

In [55]:
df_lesiones.loc[df_lesiones['franja_hora'] == 'sd', 'franja_hora'] = np.nan

df_lesiones.loc[df_lesiones['comuna'] == 'SD', 'comuna'] = np.nan
df_lesiones.loc[df_lesiones['comuna'] == 'No Especificada', 'comuna'] = np.nan

df_lesiones.loc[df_lesiones['tipo_calle'] == 'SD', 'tipo_calle'] = np.nan
df_lesiones.loc[df_lesiones['geocodificacion_CABA'] == 'SD', 'geocodificacion_CABA'] = np.nan
df_lesiones.loc[df_lesiones['longitud'] == 'SD', 'longitud'] = np.nan
df_lesiones.loc[df_lesiones['latutid'] == 'SD', 'latutid'] = np.nan
df_lesiones.loc[df_lesiones['victima'] == 'SD', 'victima'] = np.nan
df_lesiones.loc[df_lesiones['acusado'] == 'SD', 'acusado'] = np.nan
df_lesiones.loc[df_lesiones['gravedad'] == 'SD', 'gravedad'] = np.nan

df_lesiones['fecha'].replace("'","", inplace=True)

In [56]:
df_lesiones['franja_hora'] = df_lesiones['franja_hora'].astype('category')
df_lesiones['comuna'] = df_lesiones['comuna'].astype('category')
df_lesiones['tipo_calle'] = df_lesiones['tipo_calle'].astype('category')
df_lesiones['victima'] = df_lesiones['victima'].astype('category')
df_lesiones['acusado'] = df_lesiones['acusado'].astype('category')
df_lesiones['gravedad'] = df_lesiones['gravedad'].astype('category')
df_lesiones['fecha'] = df_lesiones['fecha'].astype('datetime64[ns]')

In [57]:
# Guardamos el DF listo para su análisis
df_lesiones.to_csv('./datasets/df_lesiones.csv',index=False)

### _1.2.4 Lesiones_Victimas_

In [58]:
display(df_vic_les.sample(3))

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
2127,LC-2019-0690794,2019,3,11,2019-03-11,sd,varon,83,SD
14057,LC-2020-0662665,2020,12,17,2020-12-17,SD,sd,sd,sd
1324,LC-2019-0100047,2019,2,15,2019-02-15,sd,Mujer,33,SD

In [59]:
df_vic_les.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID hecho          27605 non-null  object
 1   AAA               27605 non-null  int64
 2   MM                27605 non-null  int64
 3   DD                27605 non-null  int64
 4   FECHA             27605 non-null  datetime64[ns]
 5   VEHICULO_VICTIMA  27605 non-null  object
 6   SEXO              27605 non-null  object
 7   EDAD_VICTIMA      27605 non-null  object
 8   GRAVEDAD          27605 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.9+ MB

_Removemos las columnas que no vamos a utilizar_

In [60]:
df_vic_les.drop(columns=['AAA', 'MM', 'DD'], inplace=True)

_Transformaciones de datos_

In [61]:
df_vic_les.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID hecho          27605 non-null  object
 1   FECHA             27605 non-null  datetime64[ns]
 2   VEHICULO_VICTIMA  27605 non-null  object
 3   SEXO              27605 non-null  object
 4   EDAD_VICTIMA      27605 non-null  object
 5   GRAVEDAD          27605 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.3+ MB

In [62]:
# Cambio de SD por nulos para ser mas visibles
df_vic_les.loc[df_vic_les['VEHICULO_VICTIMA'] == 'SD', 'VEHICULO_VICTIMA'] = np.nan
df_vic_les.loc[df_vic_les['SEXO'] == 'SD', 'SEXO'] = np.nan
df_vic_les.loc[df_vic_les['GRAVEDAD'] == 'SD', 'GRAVEDAD'] = np.nan
df_vic_les.loc[df_vic_les['EDAD_VICTIMA'] == 'SD', 'EDAD_VICTIMA'] = np.nan

# Rango Etario
df_vic_les.loc[df_vic_les['EDAD_VICTIMA'] == 'SD', 'EDAD_VICTIMA'] = np.nan
df_vic_les.loc[df_vic_les['EDAD_VICTIMA'] == 'sd', 'EDAD_VICTIMA'] = np.nan
df_vic_les['EDAD_VICTIMA'] = df_vic_les['EDAD_VICTIMA'].astype('float')
df_vic_les['Rango_etario'] = df_vic_les['EDAD_VICTIMA'].apply(lambda x: rango_etario(x))

In [63]:
df_vic_les.head()

,ID hecho,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD,Rango_etario
0,LC-2019-0000053,2019-01-01,sd,Varon,57.0,NaN,5_ 50 a 59 años
1,LC-2019-0000063,2019-01-01,sd,NaN,NaN,NaN,NaN
2,LC-2019-0000079,2019-01-01,sd,Varon,NaN,NaN,NaN
3,LC-2019-0000082,2019-01-01,sd,Varon,45.0,NaN,4_ 45 a 49 años
4,LC-2019-0000082,2019-01-01,sd,Mujer,45.0,NaN,4_ 45 a 49 años

In [64]:
df_vic_les.isnull().sum()

ID hecho                0
FECHA                   0
VEHICULO_VICTIMA     4479
SEXO                 1929
EDAD_VICTIMA         4471
GRAVEDAD            20722
Rango_etario         4471
dtype: int64

In [65]:
# Guardamos el DF listo para su análisis
df_vic_les.to_csv('./datasets/df_vic_les.csv',index=False)